<!-- Show: single scan result - one targetWord, one targetPhrase -->
<h1>Scan Result:</h1>


<p>Target Word: @Model.TargetWord</p>

<p>Phrase: @Model.TargetPhrase</p>

<p>Exact Match Count: @Model.TargetCount</p>

<p>Plural Matches: @Model.PluralCount</p>

<p>Partial Match Count: @Model.PartialCount</p>

<a href="/wordcounters/new">New Word</a>